/* 

.App {
  position: absolute;
  top: 25%;
  left: 60%;
  margin-top: -50%;
  margin-left: -50%;


  align-self: center;
  text-align: center;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 150px 400px 75px;
  grid-template-areas:
    "display"
    "keypad"
    "adspace";
}
 */
